<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form action="/singup" method="post">
				<div>
					<label>Numero de control:</label>
					<input type="text" name="ncontrol">
				</div>
				<div>
					<label>Nombre:</label>
					<input type="text" name="nombre">
				</div>
				<div>
					<label>Contraseña</label>
					<input type="text" name="password">
				</div>
				
				<div>
					<label>Apellido Paterno</label>
					<input type="text" name="apellido_p">
				</div>
				<div>
					<label>Apellido Materno</label>
					<input type="text" name="apellido_m">
				</div>
				<div>
					
					<label>Correo Institucional:</label>
					<input type="text" name="correo_inst">
				</div>
				<div>
					<label>Correo Personal:</label>
					<input type="text" name="correo_pers">
				</div>
				
				<input type="submit">
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

