<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Información Personal</h3>
              </div>
              <div class="panel-body">
                <fieldset>
                	<form role="form">
	                	<div class="form-group">
	                		<label for="">Edad</label>
	                		<input type="text" class="form-control" placeholder="Edad">
	                	</div>
	                	<div class="form-control">
	                		<label for="">Fecha de Nacimiento</label>
	                		<input type="date" class="form-control" placeholder="Fecha de Nacimiento">
	                	</div>
                	</form>
                		
                	</form>
                </fieldset>
              </div>
            </div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>