<style>


/********************************/
/*          Media Queries       */
/********************************/
/*@media screen and (min-width: 980px){
    .texto { width: 980px; }    
}*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body{
	background-color:#16a085;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
#po{

	padding:0;
	margin:0;
	
	position:absolute;
	width:100%;
	height:500px;
}

.texto{
	width:50%;
	margin:0 auto;
	text-align:center;
	font: inherit;
	color:white;
}
.tit{
	color:#f1c40f;
	font-weight:bold;
}
@media screen and (max-width: 640px){
    .texto h1 { font-size: 2em; }
    .texto h3 { font-size: 1.3em; }
    .texto{
    	width:100%;
    	text-align:center;
    	background-color:rgba(44, 62, 80,.3);
}
    }

}
</style>

<div id="po">
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<div class="texto">
				<h1 class="tit">Bienvenido a Recoines Social</h1>
				<p><h3>En Recoines podras mantener comunicación con la comunidad del Instituto Tecnologico de Apizaco</h3> </p>

			</div>
			
		</div>
	</div>
</div>
  <script src="/js/dependencies/poli.js"></script>
 <script>
	
	particleground(document.getElementById('po'), {
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
});
</script>
