<div class="container-fluid" ng-controller="PostCtrl">
	<div class="row">
		
		<div class="col-md-9" ng-model="posts" style="background-color: gray;">
		<div class="post">
			<div class="row">
    			<div class="col-md-12">
    				<div class="widget-area no-padding blank">
						<div class="status-upload">
							<form>
								<textarea placeholder="What are you doing right now?" ></textarea>
								<ul>
									<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
								</ul>
								<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
							</form>
						</div><!-- Status Upload  -->
					</div><!-- Widget Area -->
				</div>
        
    		</div>
		</div>
			<div ng-repeat="post in posts |orderBy:'-createdAt'" class="margin-10 margin-b-10">
				
				<div class="panel panel-default sizepanel" ng-if="post.iduser2!=null">
  				<div class="panel-heading">
	  				<span>{{post.iduser.nombre +" "+ post.iduser.apellido_p}}</span>por <spam>{{post.iduser2.nombre}}
					</spam>
				</div>
	  			<div class="panel-body">
	   				 {{post.post}}
	  			</div>
			</div>
			<div ng-if="post.iduser2==null">
				<div class="foto-p">
					<img src="/images/b.png" class="fp izquierda">
				</div>

				<div class="panel panel-default sizepanel derecha" >
	  			<div class="panel-heading alt80 ">
	  				<h4>{{post.iduser.nombre +" "+ post.iduser.apellido_p}}</h4>
					<h6>Creado <span am-time-ago="post.createdAt"></span></h6>
  				</div>
  				
	  			<div class="panel-body">
	   				 {{post.post}}
	  			</div>
			</div>

			</div>
			
			
				
			</div>
			
		</div>
		<div class="col-md-3">te quiero putaaaqa</div>
	</div>
</div>
