<div class="container-fluid" ng-controller="PerfilCtrl">
  <div class="row-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-10">

		<div>Nombre completo-{{users.nombre}} {{users.apellido_p}} {{users.apellido_m}}</div>
		<div>Carrera</div>
		<div>Semestre</div>
		<div>Promedio</div>
		<div>Promedio General</div>
		<div>Biografia</div>
		<div>informacion del alumno, como gustos hobbyes y de mas</div>
		<div>Fotos</div>
		<div>Notas</div>
		<div>Recordatorios</div>


    </div>
    <div class="col-md-1"></div>
  </div>
</div>